[2015-10-09 20:46] LOZORD opened #1 "IOError: [Errno 11] Resource temporarily unavailable"
Getting this error while using adduser.py and renewuser.py.

[code]

[2015-10-09 20:47] WowSuchRicky commented on #1
Temp fix (if you get a failure upon adding user):

-create home folder for the user (/home/<first letter of username>/<full username>)
-run renewuser.py on their user
-chown their home folder to their user
-done

[2015-10-09 21:01] LOZORD opened #2 "Create addcoord (and remove coord) scripts"
We should create a wrapper script for adding coords. Could just be a branch of the adduser script.

[2015-10-09 21:08] LOZORD commented on #1
Yup, just this part [here](https://github.com/UW-UPL/Documentation#adding-user). We should add some handling for this problem though.

[2015-10-12 22:42] katamaritaco commented on #2
Should we also add these scripts on github. Either here or coord page?

[2015-10-13 03:14] LOZORD commented on #2
I think we should make it private if possible, unless we are REALLY sure about what we are doing.

[2015-10-17 02:48] LOZORD opened #4 "Add documentation for Pepade Machine"

[2015-10-17 17:50] Ricky54326 opened #5 "Enhance Chiptunes docs"
Add how to actually play songs and whatnot. Have never been able to find this anywhere.

[2015-10-18 00:07] LOZORD commented on #5
What specifically do you not understand that isn't in our current documentation, or not in the documentation provided by `ncmpcpp`?

[2015-10-21 19:47] katamaritaco opened #6 "Fix User Websites not being served correctly."
UPL has hosted user websites in the past, and it currently isn't working correctly.

[2015-10-21 19:48] katamaritaco opened #7 "Add New User Form to GH"
Writing in Markup and storing on here would be :+1: :100:

[2015-10-21 19:48] katamaritaco opened #8 "Create Physical Repo in room of documentation when this is solid"
Nick is working on this

[2015-10-21 19:49] katamaritaco opened #9 "Add Code of Conduct here."

[2015-10-21 20:10] #5 closed

[2015-10-22 16:14] LOZORD commented on #6
How is this different than the `~/public/html` directory given by the CS department?

[2015-10-22 16:16] LOZORD commented on #9
What do you think about forking http://hackcodeofconduct.org/?

[2015-10-22 16:17] WowSuchRicky commented on #6
It's not, except that users would have it "forever" even after they graduate and whatnot. Either way if it's a feature that was working at some point maybe it's worth fixing.

[2015-10-30 21:24] katamaritaco commented on #7
Writing in Markup and storing on here would be :+1: :100:

[2015-10-30 21:34] LOZORD commented on #7
Closed by 2254b99

[2015-10-30 21:37] katamaritaco commented on #7
I'mma Write in Markup and storing on here would be :+1: :100: for maintainability

[2015-10-30 23:00] LOZORD commented on #7
I'll make a new issue

[2015-10-30 23:00] #7 closed

[2015-10-30 23:02] LOZORD opened #10 "Create Markdown Version of New User Form"
Should have equivalent content to [the current PDF](https://gist.github.com/LOZORD/9d23396e4206a5b1cb02). Should be convertable to a PDF.

[2015-10-30 23:02] LOZORD commented on #7
See #10

[2015-10-30 23:04] LOZORD commented on #9
Ok, I put a **draft** version up. @katamaritaco @melutzke @marshmue what do you think?

[2015-10-30 23:07] LOZORD commented on #6
Would CSL have to handle this?

[2015-10-30 23:20] daguava commented on #6
No, we serve them, and its broke due to some Linux permission issue I believe.

[2015-11-01 19:05] katamaritaco commented on #9
It looks nice to me. @melutzke  @MarshMue what do you think? I'm thinking we should talk about this at next coord meeting and then solidify :100:

Note for others: The 'account policy' at the bottom is from the previous account policy.
We'll need to link to this doc in the new website and reflect that change on the new user sheet

[2015-11-01 19:06] katamaritaco opened #12 "Link to new code of conduct on new user sheets and website"
It looks nice to me. Note for others: The 'account policy' at the bottom is from the previous account policy.
We'll need to link to this doc in the new website and reflect that change on the new user sheet

See: https://github.com/UW-UPL/Documentation/issues/9

[2015-11-01 19:10] katamaritaco opened #13 "After conversion of all files to .md, place them in an archived folder."
Files that need to be converted:
Add_UPL_User.docx - DONE
UPL_Svcs_and_Commands - DONE
newuser.pdf (new user sign up)

[2015-11-02 23:01] katamaritaco opened #14 "How to install programs on machines"
Always nice to have this as reference

[2015-11-02 23:02] WowSuchRicky commented on #14
anything other than `sudo apt-get install <package>` ? if not let's just throw it in, may as well, to start working on a "new coords" tutorial type thing.

[2015-11-03 00:36] WowSuchRicky commented on #6
Fixed, I hope?

/etc/apache2/mods-enabled/userdir.conf had:

`<Directory /home/*/public_html>`

Was supposed to be:

`<Directory /home/*/*/public_html>`

My home directory now serves at ~/public_html

[2015-11-03 00:36] #6 closed

[2015-11-03 19:46] katamaritaco opened #15 "Add new account policy to new user forms."
Waiting on solidifying the account policy before doing this

[2015-11-03 19:46] katamaritaco commented on #15
related to https://github.com/UW-UPL/Documentation/issues/12

[2015-11-03 19:47] katamaritaco commented on #10
Waiting on https://github.com/UW-UPL/Documentation/issues/15 and then finished.

[2015-11-03 21:54] katamaritaco commented on #13
Waiting on: https://github.com/UW-UPL/Documentation/issues/15

[2015-11-03 22:27] melutzke opened #16 "Make ~upl/ a github repo"
^^^

[2015-11-03 23:23] LOZORD commented on #16
Are we sure that we want to do this? What is the motivation?

On Tuesday, November 3, 2015, melutzke notifications@github.com wrote:

[2015-11-03 23:25] LOZORD commented on #15
Could we just have the old link point or redirect to the new one?

[2015-11-03 23:50] daguava commented on #16
Do you know what's in ~upl/ ? If not, I'd encourage you to look around and investigate. It should be overwhelmingly obvious why it should be in source control.

[2015-11-04 01:46] LOZORD commented on #16
But in public, or with a local/private git?

On Tue, Nov 3, 2015 at 5:50 PM, melutzke notifications@github.com wrote:

[2015-11-04 02:03] daguava commented on #16
Private, with all coords added to repo.

[2015-11-04 02:05] LOZORD commented on #16
Ok, yeah that sounds good.

On Tue, Nov 3, 2015 at 8:03 PM, melutzke notifications@github.com wrote:

[2015-11-04 05:05] katamaritaco commented on #15
I'm not a fan of putting a link of the paper. The policy is simple enough that it can just go on the form. Although if more people think a link is sufficient, then so be it.

[2015-11-04 05:49] LOZORD commented on #15
If you can fit it, I'd be fine with that.

[2015-11-04 18:39] daguava commented on #16
https://github.com/UW-UPL/UPL-Config

Added most important folders, and a lot that likely contain old crap / cruft.

This can definitely be significantly pruned down, but I'd rather start with too much than too little.

[2015-11-04 18:39] #16 closed

[2015-11-05 22:03] daguava commented on #14
I wish there was an easy way to keep an updated disk image with packages pre-installed, but it would have to be made every time a new linux version comes along.

[2015-11-05 22:04] daguava commented on #1
Hard to add problem handling when we don't know the cause and don't know a reliable fix, I've had it fail similarly several times in a row.

[2015-11-05 22:49] katamaritaco commented on #14
Yeah for adding things to cf.packages, it doesn't seem to work correctly. For example, when you input sudo apt-get install golang, it installs go v 1.2.1.  But having 'golang' in the cf.packages doesn't seem to do that...

[2015-12-08 04:29] LOZORD opened #17 "What to do to add a new coord"

[2015-12-08 04:30] LOZORD commented on #1
I will look at this issue on Friday (please remind me :wink: )

[2015-12-08 06:28] daguava commented on #17
There's a page on this in the old KB that should be brought over to the readme, good catch.

[2015-12-08 19:52] katamaritaco commented on #17
Should we also leave a 'how to access old knowledgebase" somewhere in here, should that need arise?

[2015-12-08 23:23] LOZORD commented on #17
How much do you think we'll need to preserve of the old knowledge base?

[2015-12-10 02:03] #17 closed

[2015-12-11 00:56] melutzke opened #19 "Website Repository"
Add current website to a new repository, and commit it so it is cataloged and preserved.

Then you can start building the new site in a new branch, or something to that effect.

Ideally, this means old resources are preserved in case things are needed in the future.

This should be a private repository, just in-case-sies, there's got to be sensitive stuff somewhere in the code of the current site

[2015-12-11 21:01] mjneil commented on #19
Where is the current website stored? Documentation says Spearow handles the web server and such, but I cant find it.

[2015-12-11 21:17] daguava commented on #19
(I'm withholding info on purpose) There's probably a config file for whatever software serves the website (apache or nginx) you can check that will give you the document root.

[2015-12-15 04:24] Ricky54326 opened #20 "Exporting groups (export_group.py) ALWAYS takes two tries, failing from an Errno 11 IOError."
`root@eris:/home/u/upl/bin# python export_group.py
Traceback (most recent call last):
  File "export_group.py", line 75, in <module>
    run()
  File "export_group.py", line 20, in run
    group_file = open(os.path.join(config.ExportDir, 'group.upl'),"w")
IOError: [Errno 11] Resource temporarily unavailable: '/home/a/adm/etc/export/group.upl' `

`root@eris:/home/u/upl/bin# python export_group.py
/

[2015-12-15 04:25] Ricky54326 opened #21 "Add "How to remove a coord""
Add "How to remove a coord"

[2015-12-15 04:25] Ricky54326 opened #22 "Script the add/remove coord process. It's 2015."

[2015-12-15 04:41] WowSuchRicky commented on #15
This is done, but also needs to be changed around on the website too per @melutzke

[2015-12-15 04:41] WowSuchRicky commented on #10
This is done now, no? If not, re-open.

[2015-12-15 04:41] #10 closed

[2015-12-15 04:45] WowSuchRicky commented on #9
This is done now / split into other issues right? If not, re-open.

[2015-12-15 04:45] #9 closed

[2015-12-15 04:46] WowSuchRicky commented on #22
Forgot this already existed in #2.

[2015-12-15 04:46] #22 closed

[2015-12-15 04:47] WowSuchRicky commented on #20
This is related to #1  but in a different setting.

[2015-12-15 04:48] Ricky54326 opened #23 "Switch to a "sudoers file" type approach instead of a janky ass PSQL database"
Can we explore this possiblity?

[2015-12-15 04:49] daguava commented on #15
overall, it prob wouldn't be done until the new new user forms are made and the policy is printed on it :^)

[2015-12-15 05:37] LOZORD commented on #1
I took a look at the contents of `export_group.py` and there seems to be a few hacks and a lot of cruft. It may be simplest just to remove unnec. lines from this file to fix the issue. @Ricky54326 what do you think?

[2015-12-15 06:07] LOZORD commented on #1
I'm suspicious from running `grep "group.upl" . -rnI --color` and seeing multiple occurrences. Does this smell like a race condition to anyone?

[2015-12-15 06:32] daguava commented on #1
No, because when these errors happen you can sometimes try to open the file with something like nano and nano will have the error too.
Also this never happened on old server installation for some reason.

[2015-12-16 21:21] WowSuchRicky commented on #21
Done

[2015-12-16 21:21] #21 closed

[2015-12-21 05:57] melutzke opened #25 "Create policy regarding rotation of root password"
Ideally it shouldn't be the same forever. Current pass is from the Swarthout days.

[2015-12-21 06:10] LOZORD commented on #6
There's still a [line](https://github.com/UW-UPL/Documentation#apache-webserver) about this in the README. Ok to remove?

[2015-12-21 06:37] katamaritaco commented on #25
Yup - definitely same password for at least 5 years. Should we choose one at starting meeting of the semester, along with possibly getting passwordmaanger repo set up? @Ricky54326

[2015-12-21 06:38] katamaritaco commented on #6
If it is fixed, I'd def edit the readme

[2015-12-21 20:49] LOZORD opened #26 "Fix the screwdriver problem with Siren"
We should not need to do this -- @katamaritaco

[2015-12-21 20:52] LOZORD opened #27 "Finish library cataloging"
See link in the README for Google Sheet. Let me know if you need permission to edit.

[2015-12-21 21:06] LOZORD commented on #23
Yeah, this seems like a good option. Very "idiot-proof" and easy :smiley:
I'm curious about
- migration _from_ postgres
- implications for CSL
- security

[2015-12-21 21:08] daguava commented on #26
Needs a two-pin wire extension, something that someone can do by themselves with some wire, or prob a $1 from mammyzhone.

[2015-12-21 21:09] daguava commented on #25
When the password is changed, cfengine2 provides some functionality for running commands on all machines at the same time, might be helpful to use this to change all machine root passwords in one go.

[2015-12-21 21:13] daguava commented on #20
On a hunch, did a bit of googling around AFS/NFS and locks with the "resource temporarily unavailable" message, and it seems we're getting bit by stale file locks getting left open.

No idea the cause, but this is hopefully a step in the direction of solving it.

[2015-12-21 21:18] daguava commented on #23
the PSQL db is used for more than the sudoers file, it also is used for generation of shadow and passwd files, and ties in to some of the weird files we pull from the CSL so we know who we can make accounts for (as Leo mentioned).

Anyone who is willing to definitively take care of this would need to do the following:
1) Go through the python scripts and see what tables they all use
2) View the ta

[2015-12-21 21:22] daguava commented on #26
http://www.newegg.com/Product/Product.aspx?Item=9SIA85V3DG9644&cm_re=front_panel_cable_extension-_-9SIA85V3DG9644-_-Product

there's probably much cheaper options, but this is the first I found

[2015-12-22 00:17] LOZORD opened #28 "Catalog status of machines & equiptment"

[2015-12-26 21:58] mjneil commented on #19
Thoughts on just not putting the current website on github at all?  End goal I would like the upl website to be public open source, and the current site has a lot of sensitive information. It would be such a hassle to go through and remove it or selectively .ignore it

[2015-12-26 23:55] daguava commented on #19
Up to you, I'm graduating :^)

I would make and keep around a backup of old site just in case you ever need to dig anything out of it. (files and mysql db)

[2015-12-27 00:09] LOZORD commented on #19
Yeah, I don't think the old site _needs_ to be on GitHub, but I definitely agree that we should archive it somehow.

[2016-01-08 09:56] katamaritaco commented on #28
Can place in here: https://github.com/UW-UPL/Equipment

[2016-01-29 22:07] katamaritaco commented on #8
Will be doing this following UPL Hack, when stuff will most likely change and I can use @Ricky54326 's free prints :+1:

[2016-01-30 00:37] katamaritaco opened #29 "Add list of machines available with their names in order to ssh in"
Add this list to the readme. Would be nice to have a list handy

[2016-01-30 00:37] katamaritaco commented on #19
I'd suggest creating an 'archive' repository where we dump old/inactive projects.

[2016-01-30 00:39] katamaritaco commented on #15
I just added a link to the github of the CoC. Should be fine, since no way CoC would fit on NuN form. It is big now.

[2016-01-30 00:39] #15 closed

[2016-01-30 00:39] katamaritaco commented on #13
#15 is done. Just need to move old files into an archived folder in this repo now

[2016-01-30 00:41] katamaritaco commented on #12
Added link to github repo for CoC on new github website.

[2016-01-30 00:41] #12 closed

[2016-01-30 05:59] LOZORD commented on #19
Yeah, that sounds alright as long as we keep it somewhat organized and not too much of a trash dump.

[2016-02-01 06:09] katamaritaco opened #30 "Come up with way to have people ask to be invited to slack channel"
This should preferably go on new website as a little form or whatnot.

[2016-02-01 06:10] katamaritaco opened #31 "Account Management for UPL Accounts"
We need to have a better way of managing UPL accounts on third party sites. For example, we have a Youtube, Facebook, Gmail, and Slack account. These should be consolidated and info distributed amongst coords.

[2016-02-01 06:16] LOZORD commented on #31
A lot of this has to do with how we are going to maintain our passwords.

On Monday, February 1, 2016, Nick Heindl notifications@github.com wrote:

[2016-02-01 06:19] katamaritaco commented on #31
Yup it is already listed as such on the gdoc for UPL H A C K but put here for severity/emphasis

[2016-02-01 07:23] katamaritaco opened #32 "Create a document for 'Coord Responsibilities'"
Would be nice to have a reference to refer to. Solidify duties and such.

Keep the Lab Open.
1 Hour a week
Maintain lab
etc.

[2016-02-01 17:00] LOZORD commented on #30
Maybe have a link to the channel and/or say that they should email `upl-coords`?

[2016-02-05 07:06] katamaritaco opened #33 "Create a Private Archive Repo for Coords"
This repo can be used for deprecated programs from the UPL.

For starters, we can throw the old website up there. See #19 for that.

[2016-02-05 07:10] katamaritaco commented on #30
A link on the website and facebook page?

I think too, there is a way to set up a tiny page that just reads in emails and auto invites. I've seen that for some channels...

[2016-02-06 02:22] LOZORD commented on #27
Finished a few days ago.

[2016-02-06 02:22] #27 closed

[2016-02-07 01:22] katamaritaco opened #34 "Make Nice New Folder Structure"
Nick is doing this.

[2016-02-07 01:32] #34 closed

[2016-02-07 04:35] katamaritaco commented on #31
Check this:
https://github.com/UW-UPL/DatSecurity/blob/master/README.md

[2016-02-07 04:37] katamaritaco commented on #4
@MikeCook9994 Do you want to take charge on this?

[2016-02-07 04:40] katamaritaco commented on #26
@jdetter said this was fixed

[2016-02-07 04:40] #26 closed

[2016-02-07 16:04] MikeCook9994 commented on #4
Would this be the arcade computer? Or the windows machine? Either way I can do it.

[2016-02-07 17:31] katamaritaco commented on #4
Arcade computer. :)

Get Outlook for Androidhttp://aka.ms/ghei36

On Sun, Feb 7, 2016 at 8:05 AM -0800, "Michael Cook" <notifications@github.com<mailto:notifications@github.com>> wrote:

Would this be the arcade computer? Or the windows machine? Either way I can do it.

##

Reply to this email directly or view it on GitHubhttps://github.com/UW-UPL/Documentation/issues/4#issuecomment-181039308.

[2016-02-07 17:59] MikeCook9994 commented on #4
Absolutely. I'll be documenting what I know and documenting as I learn.

[2016-02-08 18:36] LOZORD commented on #14
@jdetter and @Ricky54326  is this working now?

[2016-02-08 18:39] LOZORD commented on #31
@katamaritaco can we close this issue yet? :smirk_cat:

[2016-02-08 18:40] LOZORD commented on #2
@jdetter is this complete?

[2016-02-08 18:42] LOZORD commented on #30
See https://github.com/UW-UPL/uw-upl.github.io/issues/51

[2016-02-08 18:43] LOZORD commented on #13
@katamaritaco what needs to be done to close this?

[2016-02-08 18:45] LOZORD commented on #23
@jdetter it sound like you fixed this?

[2016-02-08 18:46] LOZORD commented on #28
@bhans117 what needs to be done to close this?

[2016-02-08 18:50] LOZORD commented on #29
@Squeakrats did you do something like this for the website?

[2016-02-08 19:47] Ricky54326 opened #35 "Make Library/contents not "View Only"; add Grey Hat Hacking to the library too"
Make Library/contents google doc sheet not View Only, also add Grey Hat Hacking 3e

[2016-02-08 20:23] jdetter commented on #23
This is done, all coords are added to a group called 'sudo' on the workstations. I still have to configure the servers

[2016-02-08 20:25] jdetter commented on #14
I made a script that can do this, I installed chrome, sublime text and some other packages using it and it worked perfectly. We can still use ansible if Ricky wants to use it. Ideally we would want some sort of user friendly gui for coords to use to do this sort of stuff instead of typing terminal commands. It would be cool if we had one program that would let you add new users and install package

[2016-02-08 20:25] jdetter commented on #2
This is complete -- the coord must already exist as a user for my script to work though (which shouldn't be an issue).

[2016-02-08 20:25] #2 closed

[2016-02-08 20:28] katamaritaco commented on #29
Yes it is in lab status page

Get Outlook for Androidhttp://aka.ms/ghei36

On Mon, Feb 8, 2016 at 12:24 PM -0800, "Leo Rudberg" <notifications@github.com<mailto:notifications@github.com>> wrote:

@Squeakratshttps://github.com/Squeakrats did you do something like this for the website?

##

Reply to this email directly or view it on GitHubhttps://github.com/UW-UPL/Documentation/issues/29#issuecommen

[2016-02-08 21:47] LOZORD commented on #35
What is the motivation for changing from View Only? I think this should be editable through the Google account only (or otherwise individual coord accounts).

[2016-02-08 22:12] katamaritaco commented on #35
I agree that it shouldn't be editable to all - only to the coord google account, since we only add books infrequently.

[2016-02-08 22:16] katamaritaco commented on #14
I feel like we don't _need_ a fancy gui, coords should be able to use basic command line programs (so long as documentation is decent). A 'coord-program' with flags for all coord specific commands could be interesting, but possibly a tad crufty...

ex of 'coord-program'

I feel like as long as all the 'nice files' are in the same place, and good documentation is there, that'd be fine. Open to idea

[2016-02-08 22:32] katamaritaco opened #36 "Print out copy of stuff from Kevin Helmcamp"
Can do this shortly.

[2016-02-08 22:47] katamaritaco commented on #36
Done and posted thanks to Riccardo

[2016-02-08 22:47] #36 closed

[2016-02-09 01:17] LOZORD commented on #35
I can take care of _Grey Hat_ tomorrow.

[2016-02-09 16:28] LOZORD commented on #35
Added _Gray Hat_, not going to make library editable for public

[2016-02-09 16:28] #35 closed

[2016-02-09 18:37] katamaritaco opened #37 "Go Through GDoc from UPL H A C K and add as gh issues"

[2016-02-09 18:37] katamaritaco commented on #29
This is in the new lab status page on the new website. Closing

[2016-02-09 18:37] #29 closed

[2016-02-09 18:38] katamaritaco commented on #13
"#15 is done. Just need to move old files into an archived folder in this repo now"

[2016-02-09 18:41] #13 closed

[2016-02-09 18:45] katamaritaco commented on #8
This is still a little in flux since a lot of changes still happening....

[2016-02-09 18:46] katamaritaco commented on #31
Yeah that repo is going to essentially fix these issues

[2016-02-09 18:46] #31 closed

[2016-02-10 03:32] WowSuchRicky commented on #20
Gonna look at this again soon.

[2016-02-10 03:36] WowSuchRicky commented on #23
thank you based @jdetter

[2016-02-10 03:36] #23 closed

[2016-02-10 20:01] katamaritaco commented on #33
This is done: github.com/uw-upl/archives

[2016-02-10 20:01] #33 closed

[2016-02-10 20:54] Ricky54326 opened #38 "Figure out DNS propagation changes needed for new website, instead of 301 Redirect"
Not exactly sure what we need to do here. We only own/host an RDNS (Reverse-DNS) rather than a DNS entirely from what I know, so we may need to reach out to CSL/Parter about this.

[2016-02-10 21:25] WowSuchRicky commented on #20
This may be fixed by our AFS migration...... stay tuned I guess

[2016-02-11 01:41] katamaritaco opened #39 "Add New Coord Applications here."

[2016-02-11 01:41] katamaritaco commented on #39
I was thinking we make a nice .md

[2016-02-11 01:42] katamaritaco opened #40 "Fabled "UPL History" project"
An open project for anybody wanting to dig around the webs and find info on the UPL's awesome decades long history.

[2016-02-11 01:44] katamaritaco commented on #37
done

[2016-02-11 01:44] #37 closed

[2016-02-11 01:47] spwilson2 commented on #40
A good starting location..

https://web.archive.org/web/20150202141819/http://alyska.net/uplhistory/

:+1:  - Nick
On Feb 10, 2016 7:42 PM, "Nick Heindl" notifications@github.com wrote:

[2016-02-11 02:04] katamaritaco opened #41 "Go through current main README; Edit for new changes."
We went through a large purge and did a shit ton of work for the UPL recently. We'll want to make sure the main readme here is up to date and doesn't become stale.

[2016-02-11 02:04] katamaritaco commented on #41
I'm going to assign @jdetter because he has been doing the most in this area, but everyone that knows a bit should help out

[2016-02-11 04:11] LOZORD commented on #39
Would it just be a list of questions? Not necessarily a "form"?

[2016-02-11 04:23] LOZORD commented on #40
Should this be its own repo?

:+1: btw

[2016-02-11 04:29] LOZORD commented on #20
Also having a non-janky `add_user` script :disappointed:

[2016-02-11 05:24] katamaritaco commented on #39
Yeah that is what I was thinking. Just something we can have up here, edit when we need to, and then easily throw in a form when the time comes

[2016-02-11 05:27] katamaritaco commented on #40
I think that'd be up to whomever would want to proceed with the project. Might be easier to do iterative work in, and then integrate back here, but up to that person/those people

[2016-02-11 06:07] LOZORD commented on #39
Sure, I can take care of this. I'll let you know when the draft is ready for review.

[2016-02-11 16:38] LOZORD commented on #39
This depends on #32 .

[2016-02-11 17:35] LOZORD commented on #39
See #42 for the draft

[2016-02-11 17:53] katamaritaco commented on #39
Draft looks nice @LOZORD. I'll work on this document soon

[2016-02-12 21:06] MarshMue commented on #40
There's a LOT of gold here, I'm assuming we want to put this on the website, and if so, how should it be formatted/added to the site? I'm pretty unfamiliar with web stuff and the infrastructure of the new site.

[2016-02-12 22:21] LOZORD commented on #40
I think putting it on the site would be crufty. Having a repo (with link from the site) would be good. Probably best just to use Markdown for now, since it is easily convertible to HTML.

Also, we should start adding to the UPL history tome at the end of every semester/year.

[2016-02-13 21:27] katamaritaco commented on #40
Yeah putting it in its own repo would be nice for now (and maybe for all time). :+1: for that

[2016-02-14 23:08] katamaritaco commented on #28
@bhans117 has been going ham... Are you basically finished?

[2016-02-14 23:11] katamaritaco opened #43 "UPL-Config Script including Documentation from here"
Might be nice as an enhancement. I can look into it when I get some more bandwidth. Putting here for now.

[2016-02-15 20:08] katamaritaco commented on #32
working on it now:

https://github.com/UW-UPL/Documentation/blob/master/Coordinator-Responsibilities.md

[2016-02-16 19:05] MikeCook9994 opened #44 "Screw the broken power jack properly into the wall"
There's a power jack near the junk pile that is broken and electrical taped and not screwed in. Should be fixed.

[2016-02-16 21:09] LOZORD commented on #44
I'm on it. I will email the building manager about it, as well as the whiteboard.

[2016-02-16 22:40] katamaritaco commented on #28
bump @bhans117

[2016-02-16 22:40] MarshMue commented on #40
Anyone know of any more places for history? The above link has a lot of stuff from a pretty specific time period. I think we have an email list for alum right? Would be nice if I could send out an email to people to ask for their recollections.

[2016-02-16 22:46] bhans117 commented on #28
I would like to touch some of this up, but that comes more when we get the new computers. So for right now, I will be closing this particular issue and open a new one when the new machines come in.

[2016-02-16 22:46] bhans117 commented on #28
I would like to touch some of this up, but that comes more when we get the new computers. So for right now, I will be closing this particular issue and open a new one when the new machines come in.

[2016-02-16 22:46] #28 closed

[2016-02-16 22:49] katamaritaco commented on #40
Yeah we do, but it might also be worth crawling through old lists and crawling through google/linkedin/facebook to find them and ask them.

It'd be worth it to make a nice draft of what you'll send to everybody (for all of us to review) and then send it off. For example, it'd be great to know where they've worked since, what they've done, and what UPL means to them.

[2016-02-16 23:09] LOZORD commented on #32
Things to add(?):
- 1 event per year
- general knowledge of UPL tech
- enforcing Code of Conduct and any other rules
- something about soda :tropical_drink: ?

[2016-02-17 00:29] spwilson2 commented on #40
Also... https://youtu.be/AZH_21AeF0A

Yeah we do, but it might also be worth crawling through old lists and
crawling through google/linkedin/facebook to find them and ask them.

It'd be worth it to make a nice draft of what you'll send to everybody (for
all of us to review) and then send it off. For example, it'd be great to
know where they've worked since, what they've done, and what UPL means to

[2016-02-17 00:35] mjneil commented on #40
If we are going to compile our own history doc, we should also link to any original sources of our information if someone else is hosting it I feel just to give credit to the past UPL'ers that are providing that info. Thoughts?

[2016-02-18 17:19] LOZORD commented on #44
See Roger's response.

[2016-02-18 17:19] #44 closed

[2016-02-18 18:10] WowSuchRicky commented on #44
- I think the facilities management dude just came and did this so we should be good to keep closed

[2016-02-18 21:33] LOZORD commented on #44
Yup, LGTM :+1:
I also notified Roger about the whiteboard.

[2016-02-18 21:39] LOZORD opened #45 "New User Form should be at most one page long"
Most people will not check w/e is on the back, also @MikeCook9994 thinks it's crufty.

[2016-02-19 03:22] katamaritaco commented on #45
Sure, but the back is just signature. Go ahead and make it one page without removing content. glhf :+1:

[2016-02-19 23:27] katamaritaco commented on #32
Thanks for those Leo. How does it look now?

[2016-02-20 08:47] LOZORD commented on #32
LGTM :+1: We can close this (and #39) at the meeting later this month.

[2016-02-23 16:54] LOZORD commented on #39
We can close this at the Leap Day meeting. I added the issue on the FB event.

[2016-02-23 16:55] LOZORD commented on #1
As much as I like dealing with arcane file IO race conditions, @jdetter 's improved `add-user` script should make this issue a moot point. This can be closed when that script is good to go.

[2016-02-23 16:57] jdetter commented on #1
The new user script is looking really good, I will finish it today for sure. It will also be super easy for us to make a remove user script, so I can probably do that for us today as well.

[2016-02-23 16:57] #1 closed

[2016-02-24 06:10] WowSuchRicky commented on #38
This will break home folders, because they also point to upl.cs.wisc.edu...... this is on hold for now.

[2016-02-24 07:26] Ricky54326 opened #46 "add docker docs for docker-dhcp and docker-bind9"
add docker docs for docker-dhcp and docker-bind9:

1. how to restart them,
2. where their configs are
3.  how to update configs.

[2016-02-25 19:38] katamaritaco commented on #45
If somebody isn't going to sign up for this soon, I'll cruft.

[2016-02-25 19:42] #30 closed

[2016-02-25 19:42] katamaritaco commented on #30
closing because Leon hasn't updated, and we it is issue for website (possibly not issue at all, we'll see :camel: )

[2016-02-25 21:33] LOZORD commented on #30
CLOSE THIS ISSUE ALREADY :trollface:

[2016-02-25 21:34] LOZORD commented on #45
It's just the coord signature on the back, right? If that's it, feel free to cruft.

[2016-02-25 22:53] katamaritaco commented on #45
Yeah that is it. crufting.

[2016-02-25 22:53] #45 closed

[2016-02-26 19:10] WowSuchRicky commented on #40
Any update on this?

[2016-02-26 19:11] #38 closed

[2016-02-26 19:12] WowSuchRicky commented on #4
So, this apparently broke a week ago and new coords have taken it over with a new OS and whatnot. @bhans117  and others, any update on docs? Even just linking to the docs of the OS itself would be a good help.

[2016-02-26 19:12] WowSuchRicky commented on #25
https://github.com/UW-UPL/DatSecurity

[2016-02-26 19:12] #25 closed

[2016-02-26 19:17] Ricky54326 opened #47 "Remove all the add coord and remove coord SQL documentation once John's script works perfectly, and is verified"
Remove all the add coord and remove coord SQL documentation once John's script works perfectly, and is verified.

Assigning @LOZORD  for now, feel free to reassign accordingly.

[2016-02-26 19:18] MarshMue commented on #40
Not yet, just got done with a busy week for me school wise so I should make some decent progress in the coming week. @mjneil I already attributed the one source I have so far :3 I'll share a draft email probably sometime in the next few days.

[2016-02-26 20:23] LOZORD commented on #47
Fine with me. Just keep me in the loop @jdetter

[2016-02-26 20:28] LOZORD commented on #4
So we dropped the Lakka OS and are using something else?

[2016-02-27 01:22] LOZORD commented on #14
:camel:

[2016-02-27 07:08] katamaritaco commented on #38
Why'd you mark blocked AND closed?

[2016-02-27 07:09] WowSuchRicky commented on #38
There isn't a fix that we know of, nor is it super necessary. Unless other people think there is, then we can keep trying.

[2016-02-29 18:41] LOZORD opened #48 "Update documentation to reflect"
Update the main `README` to reflect the updates made in UPL-Config and `upl-admin`.

[2016-02-29 18:42] LOZORD commented on #48
This is related to #47

[2016-02-29 18:46] LOZORD commented on #4
@bhans117 be sure to update any necessary info in the `README`.

[2016-02-29 18:47] LOZORD opened #49 "Update README to reflect move to Docker"
Remove any `cf*` stuff

[2016-02-29 19:06] LOZORD commented on #48
@jdetter everything look good?

[2016-02-29 19:13] jdetter commented on #47
not `sudo bash upl-admin`, just `sudo upl-admin`. Other than that, looks great! It would be awesome if we could do all of the CSL/UPL bit and mailing list stuff in code somehow. I will try to get it to work at some point.

[2016-02-29 19:26] WowSuchRicky commented on #47
To do that, we would need to (programmatically):

-Login to CSL (www-auth.cs.wisc.edu) as upluse
-POST to /forms/upl.cgi

here's a traced POST (cookie removed for... reasons)

[2016-02-29 20:00] WowSuchRicky commented on #49
@jdetter  can you let me know where the config files are actually being read from for DNS? I can update the docs, but need this info.

[2016-02-29 23:55] #48 closed

[2016-02-29 23:56] LOZORD commented on #41
Completed #48 for change from janky Python + Psql :arrow_right: `upl-admin`

[2016-03-01 01:32] LOZORD commented on #47
I just put `DEPRECATED` warnings in all of the Python files in the `bin` directory.

I'm going to export all the Postgres DB data and then drop the tables.

[2016-03-01 01:46] LOZORD commented on #47
I tried to dump the database, but it doesn't seem to be up anymore:

[code]

Any advice? Can we close this now?

[2016-03-01 02:06] #39 closed

[2016-03-01 02:07] #32 closed

[2016-03-01 02:15] katamaritaco opened #50 "What ALL coords need to know about sysadmining the lab"

[2016-03-01 02:23] LOZORD opened #51 "Make "start of semester" checklist"
What needs to be done at the first meeting of every semester

[2016-03-02 17:07] LOZORD commented on #47
@Ricky54326 @jdetter do you think the new package management system removed any necessary Postgres stuff?

[2016-03-03 18:13] katamaritaco commented on #51
working on it:
https://github.com/UW-UPL/Documentation/blob/master/Start-Of-Semester-Checklist.md

[2016-03-03 21:56] #47 closed

[2016-03-07 17:12] LOZORD commented on #51
I made a big update: https://github.com/UW-UPL/Documentation/commit/4c113ec8134c0d4c5dc6a11d030eb41e120eaa59

[2016-03-08 01:20] MikeCook9994 commented on #40
I want in on this with you Marshall. I'd love to work to compile the history of the upl and write ours for future coords.

[2016-03-08 21:40] MarshMue commented on #40
Anyone can work on this! I've personally been distracted by some side projects of mine since I've had rare inspiration to work on them, so apologies for lack of progress. I think this, at least to what I've thought, would just be like a wiki history section about the UPL (btw I created a directory for it), that would just read like a history book about the UPL.

I was talking about this with @Rick

[2016-03-08 21:42] WowSuchRicky commented on #40
+1 ^ . Definitely something easy enough to edit right on github with a PR to add yourself to it later on/when you graduate. We can send reminders at the end of every academic year asking UPLers to register themselves on there and where they'll be working and whatnot if they want to stay in touch. We can add them to the upl-alumni mailing list as well.

As far as history goes, I don't particularly

[2016-03-08 22:16] LOZORD commented on #40
Yeah, I think a basic markdown table for UPL Alumni/Past Coords would be
cool.

On Tue, Mar 8, 2016 at 3:42 PM, Ricky Mutschlechner <
notifications@github.com> wrote:

[2016-03-19 06:10] spwilson2 opened #52 "Script to automate updating pianobar config file."
I know we have the 'solution' in the readme, I think it'll be easier just to add a script to save time.

It should be pretty simple to add - I'll work on it at some point.. Probably this weekend.

[code]
And direct this into the user's `$HOME/.config/pianobar/config`.

[2016-03-26 23:07] WowSuchRicky commented on #52
Any luck?

[2016-03-26 23:08] spwilson2 commented on #52
My bad, forgot about this. I'll mark my calendar to do it next weekend
unless anyone wants to.
On Mar 26, 2016 6:07 PM, "Ricky Mutschlechner" notifications@github.com
wrote:

[2016-03-28 01:46] jdetter commented on #20
Can this be closed? Add user script is working perfectly

[2016-03-28 01:46] WowSuchRicky commented on #20
yep, works for me! thanks again for all of your hard work on this @jdetter

[2016-03-28 01:46] #20 closed

[2016-03-28 01:47] jdetter commented on #20
No problem!!

[2016-03-28 01:51] WowSuchRicky commented on #49
This should be done now, see https://github.com/UW-UPL/UPL-Config/issues/29 (as this is somewhat a joint-repo thing)

[2016-03-28 01:51] #49 closed

[2016-03-28 01:53] WowSuchRicky commented on #46
Closed, see https://github.com/UW-UPL/Documentation/issues/49 and https://github.com/UW-UPL/UPL-Config/issues/29

[2016-03-28 01:53] #46 closed

[2016-03-28 01:56] WowSuchRicky commented on #19
This is definitely done, see https://github.com/UW-UPL/uw-upl.github.io

[2016-03-28 01:56] #19 closed

[2016-03-28 02:09] WowSuchRicky commented on #51
https://github.com/UW-UPL/Documentation/commit/94a5fd60fa0c9867573cf029609d6e86dc32a29c also. Should be done.

[2016-03-28 02:09] #51 closed

[2016-03-28 02:10] WowSuchRicky commented on #14
This is done now.

Steps should probably be added somewhere:
1. ssh eris
2. sudo bash
3. cd /srv/maintain/UPL-Config/scripts
4. sudo bash pkg-install.sh <pkg name>

[2016-03-28 02:11] WowSuchRicky commented on #4
@bhans117  @MikeCook9994  or @UW-UPL/coords  anything new with this?

[2016-03-28 02:28] WowSuchRicky commented on #41
I think we've done almost all of this. Re-open if there's anything noticed missing.

[2016-03-28 02:28] #41 closed

[2016-03-28 03:55] #43 closed

[2016-03-28 04:55] LOZORD commented on #14
Please either add this to the `upl-admin` script or put it in some README.

[2016-03-30 16:23] LOZORD opened #53 "Create Prospective Student/Building Tour Guide"

[2016-03-30 16:58] WowSuchRicky commented on #14
Sorry for the confusion! `sudo upl-admin` can already do this without any of the steps I mentioned above, and on any machine, too.

Closing.

[2016-03-30 16:58] #14 closed

[2016-03-31 22:18] LOZORD opened #54 "How to restart mpd on chiptunes?"
How does one do this? Currently getting a `problems setting volume` error.

[2016-03-31 22:18] LOZORD commented on #8
:camel:

[2016-03-31 22:19] LOZORD commented on #50
:camel:

[2016-04-03 02:37] spwilson2 commented on #52
Commited to UPL-Config/upl-scripts/user/fix-pianobar

@jdetter  @Ricky54326  Could get this added to user's aliases or bin dir? Feel free to change the name as well.

[2016-04-03 15:06] LOZORD commented on #4
Do we want to add anything about the user accounts on here?

[2016-04-03 20:05] katamaritaco commented on #53
I can definitely help on this since I've given more tours than I can count

[2016-04-03 20:14] LOZORD commented on #53
Awesome :ok_hand: I will start this tomorrow during my hour

[2016-04-04 02:32] WowSuchRicky commented on #54
What command are you getting this error from? Also, if mpd is a service, try `sudo service mpd restart`

[2016-04-04 02:41] LOZORD commented on #54
Basically, `pianobar` works fine but `ncmpcpp` (and I _think_ by extension,
`mpd`) does not.

On Sun, Apr 3, 2016 at 9:32 PM, Ricky Mutschlechner <
notifications@github.com> wrote:

[2016-04-04 17:56] LOZORD commented on #53
Started work: https://github.com/UW-UPL/Documentation/commit/9a4cc8544e2e66162eee6fa426fade9160ed2b00

[2016-04-04 19:13] katamaritaco commented on #54
Yeah there is some weird issue with pulses as well I think within mpd.

[2016-04-21 20:39] LOZORD commented on #52
🐫

[2016-04-21 20:48] LOZORD commented on #53
@katamaritaco what do you think? Can we close now?

[2016-04-21 21:52] katamaritaco commented on #53
I'll look at and close

[2016-04-21 21:52] #53 closed

[2016-04-21 21:54] spwilson2 commented on #52
Pretty sure I opened a separate issue asking how to get this script to
users, I'll check later to see if I did and assign it to Jammie or Ricky
On Apr 21, 2016 3:39 PM, "Leo Rudberg" notifications@github.com wrote:

[2016-04-22 01:31] katamaritaco commented on #4
john looking at it

[2016-04-22 23:41] spwilson2 opened #55 "/webcam/webcam.sh doesn't exist like /etc/rc.local expects it to"
From the docs

I was unable to restart the webcam to fix this @Ricky54326 know the actual procedure now?

[2016-04-23 00:10] WowSuchRicky commented on #55
I will look into this ASAP. It's been hella wonky lately.

Sent from my iPhone

On Apr 22, 2016, at 6:41 PM, Sean Wilson <notifications@github.com<mailto:notifications@github.com>> wrote:

Assigned #55https://github.com/UW-UPL/Documentation/issues/55 to @Ricky54326https://github.com/Ricky54326.

##

You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHu

[2016-04-25 14:20] spwilson2 commented on #52
See discussion in [UW-UPL/UPL-Config](https://github.com/UW-UPL/UPL-Config/issues/37) for progress. Documentation on this script will be added once it is available to users.

[2016-04-25 19:24] jdetter opened #56 "Broken link to coords -- User Code of Conduct"
The link to the coords page is broken in the User Code of Conduct markdown.

[2016-04-25 19:25] jdetter commented on #56
If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a coord immediately.

^^ coord is a broken link

[2016-04-25 20:17] #56 closed

[2016-05-04 17:34] jdetter opened #57 "upl-print is broken again =("
Not sure why sometimes I get a 403 and sometimes it just works fine.

[code]

[2016-05-04 17:40] jdetter commented on #57
Wrong repo, sorry!

[2016-05-04 17:40] #57 closed

[2016-05-12 22:06] LOZORD opened #58 "How to ssh into the UPL workstations?"
I get a MITM warning whenever I attempt to `ssh` into the workstation machines.

[2016-05-14 17:33] spwilson2 commented on #58
Is it just from changed keys Leo? @Ricky54326 @jdetter did the sshd keys change when we reworked the lab?

[2016-05-14 17:41] WowSuchRicky commented on #58
Remove your ~/.ssh/known_hosts file. Sometimes it gets corrupted and needs to be re generated.

Sent from my iPhone

On May 14, 2016, at 12:33 PM, Sean Wilson <notifications@github.com<mailto:notifications@github.com>> wrote:

Is it just from changed keys Leo? @Ricky54326https://github.com/Ricky54326 @jdetterhttps://github.com/jdetter did the sshd keys change when we reworked the lab?

##

You are

[2016-05-14 23:32] LOZORD commented on #58
Thanks! WFM. I will add a note to the README.

[2016-05-14 23:32] #58 closed

[2016-05-20 21:26] katamaritaco commented on #8
Think it'd be good now, but I don't have any prints... @jdetter do you have unlimited prints left?

[2016-05-20 21:32] katamaritaco commented on #50
:camel: Might be good to have this done over Summer so that it'll be good to go once semester starts @Ricky54326

[2016-06-16 16:27] #52 closed

[2016-07-26 19:11] MikeCook9994 commented on #40
Any movement on this? There's a past coord here at Microsoft who told me so much cool stuff and I have a feeling he'd be willing to contribute it.

[2016-07-26 19:39] LOZORD commented on #40
@MikeCook9994, see for yourself: https://github.com/UW-UPL/History

1) The past coord can totally add stuff (either directly or through you).
2) We can close this issue now and add any related issues to the History repo itself.

[2016-07-26 19:43] LOZORD opened #59 "Add content to Start of Semester list"
Be sure to:
- update the website with
  - new coords (and remove old coords)
  - new hours
  - any new events
- make sure there is a "maintainer" for each "project"; examples:
  - Security
  - Website
  - Lab machines/upl-config
  - Equipment

[2016-07-26 20:46] spwilson2 commented on #40
Closing per @LOZORD

@MikeCook9994 feel free to open a separate issue on the History project if you need to.

[2016-07-26 20:46] #40 closed

[2016-07-27 23:03] LOZORD commented on #54
Is chiptunes kill? Is there still a music server?

[2016-07-27 23:04] LOZORD commented on #50
🐫

[2016-07-27 23:04] LOZORD commented on #8
🐫

[2016-07-27 23:04] LOZORD commented on #4
Is 🐸  💀 ? 🐫

[2016-07-30 15:25] katamaritaco commented on #8
Somebody with free prints will have to do this... @Ricky54326  @jdetter  @spwilson2

[2016-07-30 16:47] spwilson2 commented on #8
Yeah, I'd like to wait a bit more I know we have at least something still
on @Ricky54326.

On Jul 30, 2016 10:25 AM, "Nick Heindl" notifications@github.com wrote:

[2016-07-31 16:45] jdetter commented on #8
I still have unlimited prints, I could do this when I get back from Cali.

[2016-08-20 21:15] LOZORD commented on #55
🐫 ?

[2016-08-20 21:16] LOZORD commented on #54
@MarshMue or anyone who helped with the new machines, did we retire or modify chiptunes?

[2016-08-20 21:17] LOZORD commented on #50
@Ricky54326 are you free to work on this now?

[2016-08-20 21:17] LOZORD commented on #8
@jdetter are you free to do this now?

[2016-08-20 21:20] LOZORD commented on #4
@jdetter any update?

[2016-08-20 23:43] LOZORD commented on #59
This script should also be ran to see any remaining issues:

https://gist.github.com/LOZORD/3dd6c549d564816693e3cb00dfdaf261

[2016-08-22 01:58] jdetter commented on #8
I could do this on Monday, I was out of town in Milwaukee all weekend so I wasn't here

[2016-08-22 02:00] jdetter commented on #4
I will have to reinstall the retro arch stuff and do proper documentation, I probably won't be able to get to this for at least a week or two. I will get it done though! Thanks for the reminder Leo =D

[2016-08-27 17:41] LOZORD opened #60 "Create "End of Semester Checklist""
ＳＹＭＭＥＴＲＹ

[2016-09-02 01:23] #60 closed

[2016-09-02 01:24] jdetter commented on #59
Revisiting at the next meeting

[2016-09-02 01:24] #55 closed

[2016-09-02 01:24] jdetter opened #61 "Update the webcam docs"

[2016-09-02 01:25] jdetter commented on #61
#55

[2016-09-02 01:25] WowSuchRicky commented on #8
Labeling as cruft and closing for now, docs update way too much to have any of this in paper.

[2016-09-02 01:25] #8 closed

[2016-09-02 01:28] WowSuchRicky commented on #50
We're going to close this for now, and keep docs more and more updated and less dependent on tribal knowledge.

[2016-09-02 01:28] #50 closed

[2016-09-02 01:31] #4 closed

[2016-09-16 17:06] ekivolowitz opened #62 "New User Forms"
Can someone with unlimited printing *cough cough Jammie* print some new user forms? We're out.

[2016-09-17 05:08] spwilson2 commented on #62
Thanks jambles

[2016-09-17 05:08] #62 closed

[2016-09-17 22:00] katamaritaco commented on #59
Was this revisited? 🐫

[2016-09-20 20:33] ChristianBorst commented on #54
Fixed the mpd issue, ncmpcpp on chiptunes is working again.

Note for future issues regarding mpd:
Looking at the log file /var/log/mpd/mpd.log revealed that mpd didn't have access to /home/mpd/.config/pulse since even /home/mpd didn't exist. Creating the folders and chown-ing to give the user mpd access is what fixed the problem. Then restarting mpd (kill the process then restart it) fixed the is

[2016-09-20 20:33] #54 closed

[2016-09-21 06:12] spwilson2 commented on #59
Closing. As far as creating maintaners, it's not set yet. We'll deal with something like that when we talk about @Ricky54326's [proposals](https://docs.google.com/document/d/1M8K9me2RwIWnaCjasGHTbdOliCWP3aBDy9EzXewGCX4/edit).

[2016-09-21 06:12] #59 closed

[2016-11-08 02:26] LOZORD commented on #61
@Ricky54326  🐫

[2017-11-09 00:02] LOZORD commented on #61
Yearly :camel: